.select-button {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  border: solid 1px #ccc;
  width: 100%;
  padding: 0.5rem;
  line-height: 2rem;
}

.combobox-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem;
  line-height: 2rem;
  border: none;
  border-bottom: solid 1px #ccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.combobox-input:focus {
  outline-offset: -2px;
  border-bottom: none;
}

.combobox-popover {
  text-align: left;
  border: solid 1px #ccc;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.combobox-list {
  max-height: min(var(--popover-available-height, 300px), 300px);
  overflow: auto;
  overscroll-behavior: contain;
}

.combobox-item {
  background: white;
  cursor: default;
  padding: 0.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

.combobox-item[data-active-item],
.combobox-item[data-focus-visible] {
  background: #333;
  color: #fefefe;
}
