.service {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #ccc;
  overflow: hidden;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.service-list-item {
  display: flex;
  gap: 1rem;
}

.service-info-wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
}

.phone-number-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.type {
  text-align: left;
  justify-self: left;
}

p {
  grid-row: 2;
  grid-column: 1 / -1;
}

.copy-button {
  background: none;
  height: auto;
  width: auto;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 150ms;
  transition-timing-function: ease;
}

.copy-button:focus {
  outline: #00f dashed 2px;
}

.copy-button:hover {
  color: gray;
}

.call-button {
  color: #3a3a3a;
  background: #efefef;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-left: solid 1px #ccc;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.call-button:focus {
  outline-offset: -2px;
  outline: #00f dashed 2px;
}

.call-button svg path {
  transition: all 150ms;
  transition-timing-function: ease;
}

.call-button:hover svg path {
  color: lime;
  stroke: gray;
  stroke-width: 5px;
}

@media (min-width: 600px) {
  .title-wrapper {
    font-size: 1.2rem;
  }

  .phone-number-wrapper {
    font-size: 1rem;
  }
}
