.service {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #ccc;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

dt {
  font-weight: bold;
  font-size: 1rem;
  color: #666;
}

dd {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

dd:last-child {
  margin-bottom: 0;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #ccc;
  padding: 1rem;
}

.actions button {
  outline-color: transparent;
}

.actions button:focus {
  outline: 2px dashed blue;
}
