.service {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #ccc;
  font-size: 2rem;
  overflow: hidden;
  gap: 1rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 0 1rem;
  font-weight: 600;
}

.phone-number-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0 0 1rem 1rem;
  font-size: 1rem;
}

.type {
  text-align: left;
  justify-self: left;
}

p {
  grid-row: 2;
  grid-column: 1 / -1;
}

.copy-button {
  background: none;
  height: auto;
  width: auto;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 150ms;
  transition-timing-function: ease;
}

.copy-button:hover {
  color: gray;
}

.call-button {
  color: #3a3a3a;
  background: #efefef;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-left: solid 1px #ccc;
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  padding: 1rem;
}

.call-button svg path {
  transition: all 150ms;
  transition-timing-function: ease;
}

.call-button:hover svg path {
  color: lime;
  stroke: gray;
  stroke-width: 5px;
}

@media (min-width: 600px) {
  .service {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 2rem;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #ccc;
    /* box-shadow: 0 5px #6683; */
    font-size: 2rem;
    overflow: hidden;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  .phone-number-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0;
  }

  .type {
    justify-self: left;
  }

  p {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .copy-button {
    background: none;
    height: auto;
    width: auto;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 150ms;
    transition-timing-function: ease;
  }

  .copy-button:hover {
    color: gray;
  }

  .call-button {
    color: #3a3a3a;
    background: #efefef;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 1rem 2rem;
    border-left: solid 1px #ccc;
    grid-column: 3 / -1;
  }

  .call-button svg path {
    transition: all 150ms;
    transition-timing-function: ease;
  }

  .call-button:hover svg path {
    color: lime;
    stroke: gray;
    stroke-width: 5px;
  }
}
