.service {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #ccc;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

h2 img,
h2 svg {
  flex-shrink: 0;
}

h2 .phone-number {
  margin-left: auto;
}

dt {
  font-weight: bold;
  font-size: 1rem;
  color: #666;
}

dd {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

dd:last-child {
  margin-bottom: 0;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions button {
  width: 100%;
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
}

.actions .call-button {
  background-color: hsl(130deg 100% 27%);
  color: white;
  border-color: seagreen;
  justify-content: center;
}

h2 .icon-button {
  font-size: 1rem;
  font-weight: normal;
}
