@layer base {
  .button {
    cursor: default;
    display: inline-block;
    border-radius: 10px;
    color: #333;
    text-decoration: none;
    background: #fefefe;
    border: solid 1px #ccc;
    padding: 1rem;
  }

  .button:hover {
    background-color: #fafaff;
  }

  .button:focus {
    outline-offset: 0;
    outline: 2px dashed blue;
  }
}

.button {
  text-transform: uppercase;
  font-family:
    "Routed Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  transition:
    color 110ms ease,
    background-color 110ms ease,
    transform 40ms ease;
}

.button:active {
  transform: scale(98%);
}

.icon-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  justify-content: center;
}

.icon-button svg {
  flex-shrink: 0;
  vertical-align: baseline;
}
