@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .disclaimer h2,
  .disclaimer p,
  .disclaimer .button {
    --delay: 100ms;
    animation: fade-in 500ms cubic-bezier(0.65, 0, 0.35, 1);
    animation-fill-mode: both;
    animation-delay: calc(var(--delay) * var(--stagger));
  }

  .disclaimer .button {
    animation-delay: calc(var(--delay) * 1ms);
  }
}
