@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.disclaimer .wrapper-box {
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .disclaimer h2,
  .disclaimer p,
  .disclaimer .button {
    --delay: 120ms;
    animation: slide-in 1250ms;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
    animation-delay: calc(var(--delay) * var(--stagger));
  }

  .disclaimer .button {
    animation-delay: calc(var(--delay) * var(--stagger));
  }
}
