.banner {
  border: none;
  border-bottom: solid 1px #ccc;
  background: #fff;
  margin-bottom: 1rem;
  position: fixed;
  left: 0;
  right: 0;
}

.location-swap-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.confirm {
  flex: 1;
}

.confirm .confirm-button {
  justify-content: center;
  width: 100%;
}
