@import "../../utils/animations.css";

.banner {
  border: none;
  border-bottom: solid 1px #ccc;
  background: #fff;
  left: 0;
  right: 0;
}

.location-swap-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.confirm {
  flex: 1;
}

.confirm .confirm-button {
  justify-content: center;
  width: 100%;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 125%;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
}

.disclaimer {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.country-jump-link {
  font-family:
    "Routed Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;

  display: block;
  margin-top: 0.5rem;
}

.country-jump-link a {
  color: #333;
}

.country-jump-link .link-text {
  padding: 0.4rem 0;
  text-box: trim-both cap alphabetic;
  display: inline-block;
  overflow: hidden;
  border-bottom: solid 1px #333;
}

.country-jump-link .link-text .letter,
.country-jump-link .flag-icon {
  --delay: 10ms;
  display: inline-block;
}

.country-card-main {
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .country-jump-link .link-text .letter,
  .country-jump-link .flag-icon {
    --delay: 10ms;

    animation: slide-in 380ms;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: both;
    animation-delay: calc(var(--delay) * var(--stagger));
  }
}
