.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "banner"
    "main"
    "footer";
  min-height: 100dvh;
}

.content-wrapper {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
}

h1 {
  margin-bottom: 1rem;
}

main {
  grid-area: main;
  margin-bottom: 1rem;
}

.banner {
  border: none;
  border-bottom: solid 1px #ccc;
  background: #fff;
  grid-area: banner;
  margin-bottom: 1rem;
}

.location-swap-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.confirm {
  flex: 1;
}

.confirm .confirm-button {
  justify-content: center;
  width: 100%;
}
