.footer {
  background: #333;
  color: #fafafa;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: #fafafa;
}
