@import "../../utils/colors.css";

.footer {
  background: var(--gray-wcag-115-dark);
  color: #000;
  grid-area: footer;

  font-family:
    "Routed Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}

.footer h4 {
  font-weight: 600;
}

.footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.footer li,
.footer p,
.footer a {
  font-size: 1rem;
}

.footer a {
  color: #333;
}

.footer a:focus {
  outline: var(--blue-wcag-7) dashed 2px;
}

.footer p,
.footer p a {
  color: #666;
  text-align: right;
}
