@import "./reset.css";

:root {
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  font-size: 16px;
}

body {
  background: #f6f6f6;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
