a {
  text-decoration: none;
}
a .link-text {
  text-decoration: underline;
}
a:hover .link-text {
  color: black;
  background-color: yellow;
  text-decoration: underline;
  transition: all 110ms;
}

.text-link.has-icon {
  display: inline-flex;
  gap: 0.5rem;
}

.text-link .flag-icon {
  align-self: center;
  justify-self: center;
}

.text-link .external-link-icon {
  display: inline-block;
  height: 0.8rem;
  transform: translateY(0.1em);
}

.text-link.current {
  font-weight: bold;
  text-decoration: none;
}
