.country-badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  text-wrap-style: pretty;
  font-family:
    "Routed Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.country-flag {
  flex-shrink: 0;
  vertical-align: baseline;
}

.country-select .select-label {
  font-family:
    "Routed Gothic", Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #333;
}

.country-select .select-button {
  transition:
    background-color 110ms ease,
    transform 40ms ease;
  background-color: #fefefe;
}

.country-select .select-button:active {
  transform: scale(98%);
}

.country-select .select-button:hover,
.country-select .select-button[aria-expanded="true"] {
  background-color: #fafaff;
}

.country-select .combobox-popover {
  width: var(--popover-anchor-width);
}
