article {
  display: flex;
  flex-direction: column;
}

article h2,
article h3 {
  margin-bottom: 0.5rem;
}

article strong {
  font-size: 1.4rem;
}

article p,
article ul,
article ol {
  margin-bottom: 1rem;
}

article p {
  line-height: 2.5rem;
}

th {
  text-align: left;
}

hr {
  height: 1px;
  width: 3rem;
  text-align: center;
  margin: 1rem auto;
  border: none;
  border-bottom: 5px dotted #ddd;
}
