.about-page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "banner"
    "main"
    "footer";
  gap: 1rem;
  min-height: 100dvh;
}

.about-content-wrapper {
  justify-self: center;
  padding: 1rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  margin-top: 2rem;
}
