.page-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  min-height: 100dvh;
}

.content-wrapper {
  justify-self: center;
  padding: 1rem;
  width: 80dvw;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  margin-top: 2rem;
}
